/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* rows of the listing of all tables */
.tableListing{
	line-height: 1.5;
	background: #4285F4;
	color: white;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	padding: 16px;
	width: 100%;
	cursor: pointer;
	box-sizing: border-box;
	/*box-shadow: #1f447f 0 0 1px;*/
	
	transition-property: background;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}

.tableListing:hover{
	background: #79a7f2;
}

#tableSection{
	background: #91b6f2;
	width: 200px;
	position: fixed;
}

.shadow{
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 1px;
}

.section{

}

#edit{
	background: #f7f7f7;
	max-width: 800px;
	width: 70%;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 1px;
		float: right;
}

.card{
	margin: 32px auto;
	/*make this better in jquery so the card always has a consistent margin*/
	width: 80%;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 1px;
	background: white;
	overflow: hidden;
}

.title{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	padding: 16px;
	background: #4285F4;
	color: white;
	font-weight: 300;
}

.key{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding: 16px;
	background: #4285F4;
	color: white;
	font-weight: 300;
	float: left;
	width: 20%;
	box-sizing: border-box;
	height: 100%;
}

.value{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding: 16px;
	color: black;
	font-weight: 300;
	width: 80%;
	resize: none;
	border: 0;
	margin: 0;
	box-sizing: border-box;
	display:block;
	height: 50px;
}

.value:hover{
	background: #f7f7f7;
	cursor: text;
}